<div id="recent-follower" class="element bg-dark border-radius">
  <div class="w-15">
    <div class="box image follower-image"></div>
  </div>
  <div class="w-85 bg-image vertical-center follower-image">
    <div class="content">
      <div class="title">Most Recent Follower</div>
      <div class="value">
        <strong id="follower-name"></strong> - <span id="followed-ago"></span></div>
    </div>
  </div>
</div>