<div class="row">
  <div class="col-md-3">
    <div class="card text-dark">
      <img class="card-img-top" src="">
      <div class="card-body">
        <h5 class="card-title"><%= name.titleize %></h5>
        <%= link_to 'Use', new_twitch_overlay_path(name: name), class: 'btn btn-twitch' %>
        <%= link_to 'View', twitch_overlay_template_path(name: name), class: 'btn btn-outline-dark' %>
      </div>
    </div>
  </div>
</div>