<div class="col-md-3">
  <div class="card iframe-wrapper bg-light">
    <iframe class="thumb" src="<%= twitch_overlay_template_preview_path(name: name) %>"></iframe>
    <div class="content overlay d-flex align-items-end">
      <div class="w-100">
        <h4 class="text-light mb-2"><%= name.titleize %></h4>
        <a href="<%= create_twitch_overlay_path(name) %>" class="btn btn-outline-twitch-light d-block">Use this template</a>
      </div>
    </div>
  </div>
</div>
