<div class="row">
  <div class="col-md-12">
    <% @overlays&.each do |name| %>
      <%= render partial: "overlay_template", locals: { name: name } %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% @templates.each do |name| %>
      <%= render partial: "overlay_template", locals: { name: name } %>
    <% end %>
  </div>
</div>
