<div class="row mb-3">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Overlays</h5>
        <hr>
        <div class="row">
          <% @overlays&.each do |overlay| %>
            <%= render partial: "overlay", locals: { overlay: overlay } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Templates</h5>
        <hr>
        <div class="row">
          <% @templates.each do |template_id| %>
            <%= render partial: "template", locals: { id: template_id } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>