<%= form_tag create_twitch_overlay_path(params[:name]), method: :post do %>
  <div class="row">
    <div class="col-12">
      <div class="card bg-dark text-light">
        <div class="card-body">
          <%= label_tag :name %>
          <%= text_field_tag :name %>
        </div>
      </div>
    </div>
  </div>
<% end %>