<div class="wrapper">
  <video autoplay="true" id="webcam" class="border-radius"></video>
  <div id="recent-follower" class="element bg-dark border-radius">
    <div class="w-15">
      <div class="box image follower-image"></div>
    </div>
    <div class="w-85 bg-image vertical-center follower-image">
      <div class="content">
        <div class="title">Most Recent Follower</div>
        <div class="value">
          <strong id="follower-name"></strong> - <span id="followed-ago"></span></div>
      </div>
    </div>
  </div>
  <div id="now-playing" class="element bg-dark border-radius">
    <div class="w-15">
      <div class="box image song-image"></div>
    </div>
    <div class="w-85 bg-image vertical-center song-image">
      <div class="content w-100">
        <div class="title">Now Playing</div>
        <div class="value">
          <strong id="song-title"></strong> - <span id="song-artists"></span>
        </div>
      </div>
    </div>
    <div class="progress-wrapper bg-dark">
      <div id="song-progress" class="progress"></div>
    </div>
  </div>
</div>
