<div class="row">
  <div class="col-md-12">
    <div class="card bg-dark text-light">
      <div class="card-body">
        <h5 class="card-title">Overlays</h5>
        <% @overlays.each do |name| %>
          <%= render partial: "overlay_template", locals: { name: name } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-12">
    <div class="card bg-dark text-light">
      <div class="card-body">
        <h5 class="card-title">Templates</h5>
        <% @templates.each do |name| %>
          <%= render partial: "overlay_template", locals: { name: name } %>
        <% end %>
      </div>
    </div>
  </div>
</div>